body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

body .header {
  background-color: #12171d;
}

body .header .mobile_header {
  display: none;
}

body .header .header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 26px 45px;
}

body .header .header_navigation .header_logo {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  cursor: pointer;
}

body .header .header_navigation .header_logo img {
  height: 100%;
}

body .header .header_navigation .header_navigation_container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 19px;
  text-align: center;
}

body .header .header_navigation .header_navigation_container > a,
body .header .header_navigation .header_navigation_container div {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 400;
  position: relative;
}

body .header .header_navigation .header_navigation_container > a:hover,
body .header .header_navigation .header_navigation_container div:hover {
  font-weight: 100;
}

body .header .header_navigation .header_navigation_container .navigation_treasury {
  position: relative;
}

body .header .header_navigation .header_navigation_container .navigation_treasury a {
  color: white;
  text-decoration: none;
}

body .header .header_navigation .header_navigation_container .navigation_treasury img {
  position: absolute;
  width: 75px;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
  top: -16px;
  left: 52px;
}

body .header .header_navigation .header_navigation_container .navigation_sign_up a,
body .header .header_navigation .header_navigation_container .navigation_sign_in a {
  background-color: #e5007a;
  color: white;
  border: none;
  font-size: 19px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

body .header .header_navigation .header_navigation_container .navigation_sign_up a:hover,
body .header .header_navigation .header_navigation_container .navigation_sign_in a:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  font-weight: 100;
  cursor: pointer;
}

body .header .header_container {
  padding: 40px 45px 80px 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr;
      grid-template-columns: 8fr 2fr;
  grid-gap: 60px;
}

body .header .header_container .header_parent .header_child_1 h1 {
  font-size: 55px;
  width: 75%;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 0px;
}

body .header .header_container .header_parent .line_break {
  margin: 15px 0;
  height: 3px;
  background-color: #ffffff;
  width: 35%;
}

body .header .header_container .header_parent .header_child_2 h2 {
  color: #ffffff;
  font-weight: 200;
  width: 75%;
}

body .header .header_container .header_parent_2 .header_child_1 img {
  width: 420px;
}

body .header .header_container .header_parent_2 .line_break {
  margin: 15px 0;
  height: 3px;
  background-color: #ffffff;
  width: 43%;
}

body .header .header_container .header_parent_2 .header_child_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .header_container .header_parent_2 .header_child_2 > div {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .header .header_container .header_parent_2 .header_child_2 > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .header .header_container .header_parent_2 .header_child_2 > div a {
  height: 100%;
}

body .header .header_container .header_parent_2 .header_child_2 > div a img {
  width: 100%;
  height: 100%;
}

body .hiring {
  width: 100%;
  text-align: center;
  background-color: #E5007A;
  padding: 0.8em 0;
  color: #fff;
}

body .hiring_form_link {
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 0.4rem;
  text-decoration: none;
  color: #333;
}

body .about_section {
  padding: 30px 50px 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .about_section .about_heading h1 {
  font-size: 45px;
}

body .about_section .about_info {
  text-align: center;
  letter-spacing: 2px;
  margin: 10px;
  padding: 0 40px;
  line-height: 1.5;
}

body .about_section .about_info p {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

body .live_chains_section {
  background-color: #12171d;
  padding: 40px 0px;
  position: relative;
}

body .live_chains_section .live_chains_heading {
  background-color: #ffffff;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px 18px;
  border-radius: 10px;
}

body .live_chains_section .live_chains_heading h1 {
  font-size: 31px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
}

body .live_chains_section .live_chains_heading img {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

body .live_chains_section .chain-white {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 202px;
  top: 88px;
  width: 72px;
}

body .live_chains_section .live_chains_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  margin-left: 259px;
  margin-top: 48px;
  background-color: #ffffff;
  border-radius: 20px;
}

body .live_chains_section .live_chains_info a {
  text-decoration: none;
  color: #12171d;
}

body .live_chains_section .live_chains_info a .polkadot,
body .live_chains_section .live_chains_info a .kusama,
body .live_chains_section .live_chains_info a .moonbeam,
body .live_chains_section .live_chains_info a .kilt,
body .live_chains_section .live_chains_info a .bifost {
  padding: 5px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .live_chains_section .live_chains_info a .polkadot img,
body .live_chains_section .live_chains_info a .kusama img,
body .live_chains_section .live_chains_info a .moonbeam img,
body .live_chains_section .live_chains_info a .kilt img,
body .live_chains_section .live_chains_info a .bifost img {
  height: 130px;
}

body .live_chains_section .live_chains_info a .polkadot h3,
body .live_chains_section .live_chains_info a .kusama h3,
body .live_chains_section .live_chains_info a .moonbeam h3,
body .live_chains_section .live_chains_info a .kilt h3,
body .live_chains_section .live_chains_info a .bifost h3 {
  text-align: center;
  margin: 0;
}

body .live_chains_section .live_chains_info a .polkadot:hover,
body .live_chains_section .live_chains_info a .kusama:hover,
body .live_chains_section .live_chains_info a .moonbeam:hover,
body .live_chains_section .live_chains_info a .kilt:hover,
body .live_chains_section .live_chains_info a .bifost:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.roadmap_section {
  padding: 40px 80px;
}

.roadmap_section .roadmap_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.roadmap_section .roadmap_heading h1 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 46px;
}

.roadmap_section .roadmap_heading h2 {
  margin: 0;
  font-size: 28px;
}

.roadmap_section .roadmap_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: auto;
}

.roadmap_section .roadmap_container .roadmap_parent_1,
.roadmap_section .roadmap_container .roadmap_parent_2,
.roadmap_section .roadmap_container .roadmap_parent_3,
.roadmap_section .roadmap_container .roadmap_parent_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
  margin: 0 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 2px 2px gainsboro;
          box-shadow: 0px 0px 2px 2px gainsboro;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.roadmap_section .roadmap_container .roadmap_parent_1 .q1,
.roadmap_section .roadmap_container .roadmap_parent_1 .q2,
.roadmap_section .roadmap_container .roadmap_parent_1 .q3,
.roadmap_section .roadmap_container .roadmap_parent_1 .q4,
.roadmap_section .roadmap_container .roadmap_parent_2 .q1,
.roadmap_section .roadmap_container .roadmap_parent_2 .q2,
.roadmap_section .roadmap_container .roadmap_parent_2 .q3,
.roadmap_section .roadmap_container .roadmap_parent_2 .q4,
.roadmap_section .roadmap_container .roadmap_parent_3 .q1,
.roadmap_section .roadmap_container .roadmap_parent_3 .q2,
.roadmap_section .roadmap_container .roadmap_parent_3 .q3,
.roadmap_section .roadmap_container .roadmap_parent_3 .q4,
.roadmap_section .roadmap_container .roadmap_parent_4 .q1,
.roadmap_section .roadmap_container .roadmap_parent_4 .q2,
.roadmap_section .roadmap_container .roadmap_parent_4 .q3,
.roadmap_section .roadmap_container .roadmap_parent_4 .q4 {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.roadmap_section .roadmap_container .roadmap_parent_1 .q1 h3,
.roadmap_section .roadmap_container .roadmap_parent_1 .q2 h3,
.roadmap_section .roadmap_container .roadmap_parent_1 .q3 h3,
.roadmap_section .roadmap_container .roadmap_parent_1 .q4 h3,
.roadmap_section .roadmap_container .roadmap_parent_2 .q1 h3,
.roadmap_section .roadmap_container .roadmap_parent_2 .q2 h3,
.roadmap_section .roadmap_container .roadmap_parent_2 .q3 h3,
.roadmap_section .roadmap_container .roadmap_parent_2 .q4 h3,
.roadmap_section .roadmap_container .roadmap_parent_3 .q1 h3,
.roadmap_section .roadmap_container .roadmap_parent_3 .q2 h3,
.roadmap_section .roadmap_container .roadmap_parent_3 .q3 h3,
.roadmap_section .roadmap_container .roadmap_parent_3 .q4 h3,
.roadmap_section .roadmap_container .roadmap_parent_4 .q1 h3,
.roadmap_section .roadmap_container .roadmap_parent_4 .q2 h3,
.roadmap_section .roadmap_container .roadmap_parent_4 .q3 h3,
.roadmap_section .roadmap_container .roadmap_parent_4 .q4 h3 {
  margin: 0;
  font-size: 40px;
  padding: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px 2px gainsboro;
          box-shadow: 2px 2px 3px 2px gainsboro;
}

.roadmap_section .roadmap_container .roadmap_parent_1 .roadmap_description .description_heading h3,
.roadmap_section .roadmap_container .roadmap_parent_2 .roadmap_description .description_heading h3,
.roadmap_section .roadmap_container .roadmap_parent_3 .roadmap_description .description_heading h3,
.roadmap_section .roadmap_container .roadmap_parent_4 .roadmap_description .description_heading h3 {
  text-align: center;
  color: aliceblue;
  font-weight: 400;
}

.roadmap_section .roadmap_container .roadmap_parent_1 .roadmap_description .description_content p,
.roadmap_section .roadmap_container .roadmap_parent_2 .roadmap_description .description_content p,
.roadmap_section .roadmap_container .roadmap_parent_3 .roadmap_description .description_content p,
.roadmap_section .roadmap_container .roadmap_parent_4 .roadmap_description .description_content p {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

.roadmap_section .roadmap_container .roadmap_parent_1 .roadmap_description .description_content .extra_content,
.roadmap_section .roadmap_container .roadmap_parent_2 .roadmap_description .description_content .extra_content,
.roadmap_section .roadmap_container .roadmap_parent_3 .roadmap_description .description_content .extra_content,
.roadmap_section .roadmap_container .roadmap_parent_4 .roadmap_description .description_content .extra_content {
  font-style: italic;
  color: white;
  font-size: 15px;
}

.roadmap_section .roadmap_container .roadmap_parent_1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#b23dc9), to(#8138be));
  background: linear-gradient(#b23dc9, #8138be);
}

.roadmap_section .roadmap_container .roadmap_parent_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3830ac), to(#0a77d0));
  background: linear-gradient(#3830ac, #0a77d0);
}

.roadmap_section .roadmap_container .roadmap_parent_3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#02a2ea), to(#0eabb8));
  background: linear-gradient(#02a2ea, #0eabb8);
}

.roadmap_section .roadmap_container .roadmap_parent_4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#14a99f), to(#20a472));
  background: linear-gradient(#14a99f, #20a472);
}

.roadmap_section .roadmap_container .roadmap_parent_1:hover,
.roadmap_section .roadmap_container .roadmap_parent_2:hover,
.roadmap_section .roadmap_container .roadmap_parent_3:hover,
.roadmap_section .roadmap_container .roadmap_parent_4:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.roadmap_section .roadmap_container::-webkit-scrollbar {
  display: none;
}

.medium_section {
  padding: 2vw 4vw;
  margin-bottom: 2rem;
}

.medium_section a {
  text-decoration: none;
}

.medium_section .medium_heading {
  margin-top: 40px;
  text-align: center;
}

.medium_section .medium_heading h1 {
  margin-bottom: 50px;
  font-size: 46px;
}

.medium_section .medium_blogs_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3vw;
  grid-column-gap: 2vw;
}

.medium_section .blogThumbnail {
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 92.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.medium_section .blogCard {
  background-color: #12171d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.medium_section .blogCard:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.medium_section .blogContentContainer {
  background-color: #fff;
  padding: 2px 16px;
}

.contact_section {
  background: url("./images/gradient-background.png");
  background-color: #12171d;
  color: #ffffff;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section h1 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.testimonial_sections .testimonial_heading h1 {
  text-align: center;
  margin: 0;
  margin-top: 40px;
  font-size: 46px;
}

.testimonial_sections .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 6fr;
      grid-template-columns: 6fr 1fr 6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.testimonial_sections .testimonials .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial_sections .testimonials .parent .image_container {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}

.testimonial_sections .testimonials .parent .description {
  height: 450px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.testimonial_sections .testimonials .badge {
  width: 100%;
}

.testimonial_sections .testimonials .badge img {
  width: 100%;
}

.footer .content {
  background: url("./images/gradient-background.png");
  background-color: #12171d;
  color: #ffffff;
  padding: 60px 40px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .content .content_heading h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer .content .subscribe_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .content .subscribe_email .subscribe_email_input {
  position: relative;
}

.footer .content .subscribe_email .subscribe_email_input input {
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 10px;
  background-color: #f9f9fb;
}

.footer .content .subscribe_email .subscribe_email_input input::-webkit-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input:-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input::-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input::placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button button {
  cursor: pointer;
  font-size: 20px;
  padding: 6px 15px;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #12171d;
  color: #ffffff;
  font-weight: 100;
  font-style: italic;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer .content .subscribe_email .or {
  margin: 15px 0;
  font-size: 20px;
}

.footer .content .subscribe_email .contact_us_button a button {
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding: 8px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer .content .subscribe_email .contact_us_button a button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer .footer_navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12171d;
  padding: 40px 0;
}

.footer .footer_navigation .footer_navigation_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer_navigation .footer_navigation_links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  color: gainsboro;
  font-weight: 300;
}

.footer .footer_navigation .footer_navigation_links a:hover {
  color: #f9f9fb;
}

.footer .footer_navigation .footer_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

.footer .footer_navigation .footer_social_links > div {
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer .footer_navigation .footer_social_links > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer_navigation .footer_social_links > div a {
  height: 100%;
}

.footer .footer_navigation .footer_social_links > div a img {
  width: 100%;
  height: 100%;
}

#cookie-consent-popup .cookie-message {
  border-radius: 10px;
  padding: 15px 0;
  background: #f7f8fb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05), 0 10px 10px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05), 0 10px 10px 2px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  position: fixed;
  z-index: 100;
  bottom: 2%;
  right: 2%;
  margin: auto;
  max-width: 540px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-animation-name: cookie-popup-in;
          animation-name: cookie-popup-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#cookie-consent-popup .cookie-message img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#cookie-consent-popup .cookie-message span.text {
  display: inline-block;
  line-height: 1.5;
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#cookie-consent-popup .cookie-message span#close-cookie-popup {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  border: none;
  font-size: 24px;
  padding: 0 20px 0 16px;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #919191;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body .header .mobile_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  body .header .mobile_header .mobile_header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44%;
    padding-left: 20px;
  }
  body .header .mobile_header .mobile_header_logo img {
    width: 100%;
    max-width: 158px;
  }
  body .header .mobile_header .menu_icon {
    padding-right: 20px;
    color: #ffffff;
    font-size: 30px;
  }
  body .header .mobile_header .menu_icon_2 {
    display: none;
    padding-right: 20px;
    color: #ffffff;
    font-size: 30px;
  }
  body .header .mobile_header .mobile_header_navigation_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 {
    background-color: #12171d;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_header_logo {
    width: 85%;
    padding: 30px 0 40px 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_header_logo img {
    width: 100%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_governance_accordian_up,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_governance_accordian_down {
    padding-left: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul {
    margin: 0;
    list-style: none;
    padding: 10px 0 10px 18%;
    text-decoration: none;
    color: #ffffff;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li {
    padding-top: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li a,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li a {
    padding-left: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li:last-child,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li:last-child {
    padding-bottom: 0;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_up,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in {
    padding: 10px 0;
    padding-left: 18%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_up a,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a {
    padding-left: 0;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_up a button,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a button {
    background-color: #e5007a;
    color: white;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 75px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_up a button:hover,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  body .header .header_navigation {
    display: none;
  }
  body .header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
    padding: 0px 45px 40px 45px;
  }
  body .header .header_container .header_parent .header_child_1 h1 {
    font-size: 35px;
    width: 100%;
    text-align: end;
  }
  body .header .header_container .header_parent .line_break {
    width: 100%;
  }
  body .header .header_container .header_parent .header_child_2 h2 {
    width: 100%;
    font-size: 20px;
    text-align: end;
  }
  body .header .header_container .header_parent_2 .header_child_1 {
    display: none;
  }
  body .hiring {
    margin-top: 0.5rem;
  }
  body .about_section {
    padding: 20px;
  }
  body .about_section .about_heading h1 {
    font-size: 30px;
    margin: 0;
  }
  body .about_section .about_info {
    text-align: end;
    padding: 0;
  }
  body .about_section .about_info p {
    font-size: 20px;
    margin: 0;
  }
  body .live_chains_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .live_chains_section .chain-white {
    display: none;
  }
  body .live_chains_section .live_chains_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: transparent;
  }
  body .live_chains_section .live_chains_info a {
    text-decoration: none;
    color: #12171d;
  }
  body .live_chains_section .live_chains_info a .polkadot,
  body .live_chains_section .live_chains_info a .kusama,
  body .live_chains_section .live_chains_info a .moonbeam,
  body .live_chains_section .live_chains_info a .kilt,
  body .live_chains_section .live_chains_info a .bifost {
    background-color: #ffffff;
    margin: 15px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .live_chains_section .live_chains_info a .polkadot:hover,
  body .live_chains_section .live_chains_info a .kusama:hover,
  body .live_chains_section .live_chains_info a .moonbeam:hover,
  body .live_chains_section .live_chains_info a .kilt:hover,
  body .live_chains_section .live_chains_info a .bifost:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .roadmap_section {
    padding: 20px 0;
  }
  body .roadmap_section .roadmap_heading h1 {
    font-size: 30px;
  }
  body .roadmap_section .roadmap_heading h2 {
    font-size: 24px;
  }
  body .roadmap_section .roadmap_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
  body .roadmap_section .roadmap_container .roadmap_parent_1,
  body .roadmap_section .roadmap_container .roadmap_parent_2,
  body .roadmap_section .roadmap_container .roadmap_parent_3,
  body .roadmap_section .roadmap_container .roadmap_parent_4 {
    margin: 0 10px;
  }
  body .roadmap_section .roadmap_container .roadmap_parent_1 .roadmap_description .description_content p,
  body .roadmap_section .roadmap_container .roadmap_parent_2 .roadmap_description .description_content p,
  body .roadmap_section .roadmap_container .roadmap_parent_3 .roadmap_description .description_content p,
  body .roadmap_section .roadmap_container .roadmap_parent_4 .roadmap_description .description_content p {
    width: 200px;
  }
  body .roadmap_section .roadmap_container .roadmap_parent_1 .roadmap_description .description_content .extra_content,
  body .roadmap_section .roadmap_container .roadmap_parent_2 .roadmap_description .description_content .extra_content,
  body .roadmap_section .roadmap_container .roadmap_parent_3 .roadmap_description .description_content .extra_content,
  body .roadmap_section .roadmap_container .roadmap_parent_4 .roadmap_description .description_content .extra_content {
    white-space: initial;
    font-style: italic;
    color: white;
    font-size: 15px;
  }
  body .medium_section {
    padding: 2vw 4vw;
  }
  body .medium_section .medium_blogs_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body .footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  body .footer .content .content_heading h2 {
    text-align: end;
    font-size: 18px;
  }
  body .footer .content .subscribe_email {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  body .footer .content .subscribe_email .subscribe_email_input input {
    height: 40px;
    width: 250px;
    font-size: 12px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::-webkit-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input:-ms-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::-ms-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input .subscribe_button button {
    font-size: 14px;
    padding: 6px;
  }
  body .footer .content .subscribe_email .subscribe_email_input .subscribe_button button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .footer .content .subscribe_email .or {
    margin: 15px 20% 15px 0;
  }
  body .footer .content .subscribe_email .contact_us_button a button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .footer .footer_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer_navigation .footer_navigation_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 10px;
  }
  body .footer .footer_navigation .footer_social_links {
    padding-right: 0;
  }
}

@media screen and (max-width: 601px) {
  .medium_section .medium_blogs_container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.no_display {
  display: none;
}

@-webkit-keyframes cookie-popup-in {
  from {
    right: -3%;
  }
  to {
    right: 2%;
  }
}

@keyframes cookie-popup-in {
  from {
    right: -3%;
  }
  to {
    right: 2%;
  }
}
/*# sourceMappingURL=style.css.map */