body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  // header
  .header {
    background-color: #12171d;
    .mobile_header {
      display: none;
    }
    .header_navigation {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 26px 45px;
      .header_logo {
        height: 100%;
        flex: 2;
        cursor: pointer;
        img {
          height: 100%;
        }
      }
      .header_navigation_container {
        flex: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        font-size: 19px;
        text-align: center;
        position: relative;
        & > a,
        ul {
          color: white;
          text-decoration: none;
          cursor: default;
          transition: all 0.5s ease;
          font-weight: 300;
          position: relative;
          padding: 0;
          margin: 0;
          a {
            text-decoration: none;
            transition: all 0.5s ease;
            color: #ffffff;
          }
          a:hover {
            color: #E5007A;
            
          }
          .navigation_governance_child {
            position: absolute;
            padding-top: 15px;

            .nav_gov_list_card{
            background-color: #12171d;
            border-radius: 8px;
            box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);

              li {
                list-style: none;
                text-decoration: none;
                color: #ffffff;
                padding: 8px 16px;
                text-align: end;
                // box-shadow: 10px -2px 5px -6px rgba(0,0,0,0.75);
                // border-radius: 5px;
                // background-color: #12171d;
                a {
                  text-decoration: none;
                  color: #ffffff;
                  font-weight: 300;
                  transition: all 0.5s ease;
                }
              }
              li:hover {
                a {
                  color: #E5007A;
                }
              }
            }
            
          }
        }
        & > a:hover,
        ul:hover {
          // font-weight: 300;
          color: #E5007A;
        }
        .navigation_treasury {
          position: relative;
          a {
            color: white;
            text-decoration: none;
          }
          img {
            position: absolute;
            width: 75px;
            transform: rotate(23deg);
            top: -16px;
            left: 52px;
          }
        }

        .navigation_contact{
          margin: 0 0.3em;
        }
        
        .navigation_hiring {
          display: flex;
          justify-content: center;
          margin-right: 0.3em;
          a {
            width: 90px;
            text-decoration: none;
            color: #ffffff;
            padding: 6px 10px;
            border: 1px solid brown;
            font-weight: 300;
            border-radius: 4px;
            font-size: 17px;
            transition: 0.5s;
            background: linear-gradient(to right, transparent 0%, #141414  51%, brown  100%);
            text-align: center;
            background-size: 200% auto;
            display: block;
          }
        }
        .navigation_hiring:hover {
          a {
            background-position: right center;
            color: #fff;
            text-decoration: none;
          }
        }
        .navigation_sign_in {
          display: flex;
          justify-content: center;
          a {
            width: 90px;
            text-decoration: none;
            color: #ffffff;
            padding: 6px 10px;
            font-weight: 300;
            border-radius: 4px;
            font-size: 17px;
            background: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%);
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            display: block;
          }
          a:hover {
            background-position: center right;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .hiring {
      width: 90%;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: #33001b ;
      background: linear-gradient(to right, transparent -1%, #33001b 54%, transparent 101%);
      padding: 1em;
      box-sizing: border-box;
      color: #fff;
      .hiring_form_link {
        padding: 0.4rem;
        text-decoration: none;
        color: #333;
        button {
          margin-top: 0.5em;
          border: none;
          background: #ffffff;
          padding: 8px 16px;
          border-radius: 3px;
          font-size: 15px;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
        }
      }
      .hiring_form_link:hover {
        button {
          background: #ff0084;
          color: #fff;
        }
      }
    }
    .header_container {
      padding: 40px 45px 80px 45px;
      display: grid;
      grid-template-columns: 8fr 2fr;
      grid-gap: 60px;
      .header_parent {
        .header_child_1 {
          h1 {
            font-size: 55px;
            color: #ffffff;
            font-weight: 300;
            margin-bottom: 0px;
            .underline {
              border-bottom: 2px solid white;
            }
          }
        }
        .header_child_2 {
          h2 {
            color: #ffffff;
            font-weight: 200;
            width: 75%;
          }
        }
      }
      .header_parent_2 {
        .header_child_1 {
          img {
            width: 420px;
          }
        }
        .line_break {
          margin: 15px 0;
          height: 3px;
          background-color: #ffffff;
          width: 43%;
        }
        .header_child_2 {
          display: flex;
          align-items: center;
          justify-content: center;
          & > div {
            width: 30px;
            height: 30px;
            margin: 10px;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
            a {
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  // about
  .about_section {
    padding: 30px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .about_heading {
      h1 {
        font-size: 45px;
      }
    }
    .about_info {
      text-align: center;
      letter-spacing: 2px;
      margin: 10px;
      padding: 0 40px;
      line-height: 1.5;
      p {
        font-size: 28px;
        font-weight: 300;
        margin: 10px;
      }
    }
  }

  // live chains
  .live_chains_section {
    background-color: #12171d;
    padding: 40px 0;
    position: relative;
    .live_chains_heading {
      background-color: #ffffff;
      position: relative;
      width: fit-content;
      padding: 11px 18px;
      border-radius: 10px;
      h1 {
        font-size: 31px;
        margin: 0;
        font-weight: 400;
        letter-spacing: 2px;
      }
      img {
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .chain-white {
      position: absolute;
      transform: rotate(90deg);
      left: 202px;
      top: 88px;
      width: 72px;
    }
    .live_chains_info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 250px;
      margin-left: 259px;
      margin-top: 48px;
      background-color: #ffffff;
      border-radius: 20px;
      a {
        text-decoration: none;
        color: #12171d;
        .polkadot,
        .kusama,
        .moonbeam,
        .kilt,
        .bifost {
          padding: 5px;
          box-shadow: 2px 2px 5px grey;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          img {
            height: 130px;
          }
          h3 {
            text-align: center;
            margin: 0;
          }
        }
        .polkadot:hover,
        .kusama:hover,
        .moonbeam:hover,
        .kilt:hover,
        .bifost:hover {
          transform: scale(0.97);
        }
      }
    }
  }
}

// roadmap-section
.roadmap_section {
  padding: 40px 80px;
  .roadmap_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    h1 {
      margin: 0;
      margin-bottom: 15px;
      font-size: 46px;
    }
    h2 {
      margin: 0;
      font-size: 28px;
    }
  }
  .roadmap_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    .roadmap_parent_1,
    .roadmap_parent_2,
    .roadmap_parent_3,
    .roadmap_parent_4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 20px;
      margin: 0 30px;
      border-radius: 20px;
      box-shadow: 0px 0px 2px 2px gainsboro;
      transition: all 0.2s ease-in-out;
      .q1,
      .q2,
      .q3,
      .q4 {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 50%;
        // border: 3px solid #12171d;
        h3 {
          margin: 0;
          font-size: 40px;
          padding: 30px;
          border-radius: 50%;
          box-shadow: 2px 2px 3px 2px gainsboro;
        }
      }
      .roadmap_description {
        .description_heading {
          h3 {
            text-align: center;
            color: aliceblue;
            font-weight: 400;
          }
        }
        .description_content {
          p {
            text-align: center;
            padding: 10px;
            // border: 1px solid gainsboro;
            border-radius: 10px;
            background-color: aliceblue;
          }
          .extra_content {
            font-style: italic;
            color: white;
            font-size: 15px;
          }
        }
      }
    }
    .roadmap_parent_1 {
      background: linear-gradient(#b23dc9, #8138be);
    }
    .roadmap_parent_2 {
      background: linear-gradient(#3830ac, #0a77d0);
    }
    .roadmap_parent_3 {
      background: linear-gradient(#02a2ea, #0eabb8);
    }
    .roadmap_parent_4 {
      background: linear-gradient(#14a99f, #20a472);
    }
    .roadmap_parent_1:hover,
    .roadmap_parent_2:hover,
    .roadmap_parent_3:hover,
    .roadmap_parent_4:hover {
      transform: scale(0.99);
    }
  }
  .roadmap_container::-webkit-scrollbar {
    display: none;
  }
}

// medium section
.medium_section{
  padding: 2vw 4vw;
  margin-bottom: 2rem;

  a{
    text-decoration: none;
  }

  .medium_heading {
    margin-top: 40px;
    text-align: center;
    h1 {
      margin-bottom: 50px;
      font-size: 46px;
    }
  }

  .medium_blogs_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3vw;
    grid-column-gap: 2vw;
  }

  .blogThumbnail{
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 92.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .blogCard {
    background-color: #12171d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
  }

  .blogCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blogContentContainer {
    background-color: #fff;
    padding: 2px 16px;
  }
}

// contact section
.contact_section {
  background: url('./images/gradient-background.png');
  background-color: #12171d;
  color: #ffffff;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }
}

// testimonials section
.testimonial_sections {
  .testimonial_heading {
    h1 {
      text-align: center;
      margin: 0;
      margin-top: 40px;
      font-size: 46px;
    }
  }
  .testimonials {
    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    align-items: center;
    padding-bottom: 30px;
    .parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image_container {
        transform: translateY(50%);
        background-color: aliceblue;
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
      }
      .description {
        height: 450px;
        width: 400px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
    .badge {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.footer {
  .content {
    background: url('./images/gradient-background.png');
    background-color: #12171d;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content_heading {
      h2 {
        // text-align: center;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 1px;
      }
    }

    .subscribe_email {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .subscribe_email_input {
        position: relative;
        input {
          width: 450px;
          height: 50px;
          border: none;
          border-radius: 12px;
          font-size: 20px;
          padding-left: 10px;
          background-color: #f9f9fb;
        }
        input::placeholder {
          font-size: 20px;
          letter-spacing: 1px;
          font-weight: 100;
        }
        .subscribe_button {
          display: flex;
          justify-content: center;
          position: absolute;
          right: 8px;
          top: 8px;

          button {
            cursor: pointer;
            font-size: 20px;
            padding: 6px 15px;
            border-radius: 5px;
            border: none;
            transition: all 0.2s ease-in-out;
            background-color: #12171d;
            color: #ffffff;
            font-weight: 100;
            font-style: italic;
          }
          button:hover {
            transform: scale(0.95);
          }
        }
      }
      .or {
        margin: 15px 0;
        font-size: 20px;
      }
      .contact_us_button {
        a {
          button {
            border-radius: 10px;
            border: none;
            font-size: 20px;
            padding: 8px 25px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
          }
          button:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .footer_navigation {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    background-color: #12171d;
    padding: 40px 0;
    .footer_navigation_links {
      display: flex;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        color: gainsboro;
        font-weight: 300;
      }
      a:hover {
        color: #f9f9fb;
      }
    }

    .footer_social_links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 30px;
      & > div {
        width: 30px;
        height: 30px;
        margin: 10px;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
        a {
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// cookie consent popup
#cookie-consent-popup{
  .cookie-message {
    border-radius: 10px;
    padding: 15px 0;
    background: #f7f8fb;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 16px 2px rgba(0,0,0,.05), 0 10px 10px 2px rgba(0,0,0,.05);
    font-size: 12px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    z-index: 100;
    bottom: 2%;
    right: 1%;
    margin: auto;
    max-width: 540px;
    display: -ms-flexbox;
    display: flex;
    animation-name: cookie-popup-in;
    animation-duration: 1s;
  }

  .cookie-message img {
    height: 50px;
    width: 50px;
    margin: 0 15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .cookie-message span.text {
    display: inline-block;
    line-height: 1.5;
    padding-right: 16px;
    border-right: 1px solid rgba(0,0,0,.1);
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .cookie-message span#close-cookie-popup {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: none;
    font-size: 24px;
    padding: 0 20px 0 16px;
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #919191;
    transition: color 0.2s;
    cursor: pointer;
  }

}

@media screen and (max-width: 768px) {

  body {
    // background-color: #14a99f;
    // header
    .header {
      .mobile_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        .mobile_header_logo {
          display: flex;
          width: 44%;
          padding-left: 20px;
          img {
            width: 100%;
            max-width: 158px;
          }
        }
        .menu_icon {
          padding-right: 20px;
          color: #ffffff;
          font-size: 30px;
        }
        .menu_icon_2 {
          display: none;
          padding-right: 20px;
          color: #ffffff;
          font-size: 30px;
        }
        .mobile_header_navigation_container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          transform: translateX(-100%);
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: all 0.5s ease-in-out;
          .mobile_parent_1 {
            background-color: #12171d;
            .mobile_header_logo {
              width: 85%;
              padding: 30px 0 40px 10px;
              img {
                width: 100%;
              }
            }
            .mobile_navigation_links {
              display: flex;
              flex-direction: column;
              .navigation_governance {
                color: #ff0084;
              }
              .navigation_governance_accordian_up,
              .navigation_governance_accordian_down {
                padding-left: 10px;
              }
              a,
              ul {
                margin: 0;
                list-style: none;
                padding: 10px 0 10px 18%;
                text-decoration: none;
                color: #ffffff;
                li {
                  padding-top: 10px;
                  a {
                    padding-left: 10px;
                  }
                }
                // li:first-child {
                //   padding-top: 0;
                // }
                li:last-child {
                  padding-bottom: 0;
                }
              }
              a:hover, ul>li:hover {
                color: #ff0084;
              }
              .navigation_sign_up,
              .navigation_sign_in {
                padding: 10px 0;
                padding-left: 18%;
                a {
                  padding-left: 0;
                  button {
                    background-color: #e5007a;
                    color: white;
                    border: none;
                    font-size: 15px;
                    padding: 5px 10px;
                    border-radius: 4px;
                    margin: 0;
                    font-family: 'Roboto', sans-serif;
                    transition: all 0.2s ease-in-out;
                    width: 75px;
                  }
                  button:hover {
                    transform: scale(0.95);
                  }
                }
              }
            }
          }
          .mobile_parent_2 {
          }
        }
      }
      .header_navigation {
        display: none;
        .header_logo {
          img {
          }
        }
        .header_navigation_container {
          & > a,
          div {
          }
          & > a:hover,
          div:hover {
          }
          .navigation_treasury {
            a {
            }
            img {
            }
          }
          .navigation_sign_up,
          .navigation_sign_in {
            button {
            }
            button:hover {
            }
          }
        }
      }
      .header_container {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        padding: 0px 45px 40px 45px;
        .header_parent {
          .header_child_1 {
            h1 {
              font-size: 35px;
              width: 100%;
              text-align: center;
            }
          }
          .line_break {
            width: 100%;
          }
          .header_child_2 {
            h2 {
              width: 100%;
              font-size: 20px;
              text-align: center;
            }
          }
        }
        .header_parent_2 {
          .header_child_1 {
            display: none;
            img {
            }
          }
          .line_break {
          }
          .header_child_2 {
            & > div {
              &:hover {
              }
              a {
                img {
                }
              }
            }
          }
        }
      }
    }

    .hiring{
      margin-top: 0.5rem;
    }

    // about
    .about_section {
      padding: 20px;
      .about_heading {
        h1 {
          font-size: 30px;
          margin: 0;
        }
      }
      .about_info {
        text-align: center;
        padding: 0;
        p {
          font-size: 20px;
          margin: 0;
        }
      }
    }

    // live chains
    .live_chains_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .live_chains_heading {
        h1 {
        }
        img {
        }
      }
      .chain-white {
        display: none;
      }
      .live_chains_info {
        display: flex;
        margin-left: 0;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: transparent;
        a {
          text-decoration: none;
          color: #12171d;
          .polkadot,
          .kusama,
          .moonbeam,
          .kilt,
          .bifost {
            background-color: #ffffff;
            margin: 15px 0;
            box-shadow: none;
          }
          .polkadot:hover,
          .kusama:hover,
          .moonbeam:hover,
          .kilt:hover,
          .bifost:hover {
            transform: scale(1);
          }
        }
      }
    }

    // roadmap-section
    .roadmap_section {
      padding: 20px 0;
      .roadmap_heading {
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 24px;
        }
      }
      .roadmap_container {
        display: flex;
        overflow: auto;
        white-space: nowrap;
        .roadmap_parent_1,
        .roadmap_parent_2,
        .roadmap_parent_3,
        .roadmap_parent_4 {
          margin: 0 10px;
          .q1,
          .q2,
          .q3,
          .q4 {
            h3 {
            }
          }
          .roadmap_description {
            .description_heading {
              h3 {
              }
            }
            .description_content {
              p {
                width: 200px;
              }
              .extra_content {
                white-space: initial;
                font-style: italic;
                color: white;
                font-size: 15px;
              }
            }
          }
        }
        .roadmap_parent_1 {
        }
        .roadmap_parent_2 {
        }
        .roadmap_parent_3 {
        }
        .roadmap_parent_4 {
        }
        .roadmap_parent_1:hover,
        .roadmap_parent_2:hover,
        .roadmap_parent_3:hover,
        .roadmap_parent_4:hover {
        }
      }
    }

    //medium-section
    .medium_section{
      padding: 2vw 4vw;
    
      .medium_blogs_container{
        grid-template-columns: 1fr 1fr;
      }
    }

    // contact section
    .contact_section {
      h1 {
      }
      button {
      }
      button:hover {
      }
    }

    // testimonials section
    .testimonial_sections {
      .testimonial_heading {
        h1 {
        }
      }
      .testimonials {
        .parent {
          .image_container {
          }
          .description {
          }
        }
        .badge {
          img {
          }
        }
      }
    }

    .footer {
      .content {
        flex-direction: column;
        padding: 20px;
        .content_heading {
          h2 {
            text-align: center;
            font-size: 18px;
          }
        }

        .subscribe_email {
          align-items: center;
          width: 100%;
          .subscribe_email_input {
            input {
              height: 40px;
              width: 250px;
              font-size: 12px;
            }
            input::placeholder {
              font-size: 11px;
            }
            .subscribe_button {
              button {
                font-size: 14px;
                padding: 6px;
              }
              button:hover {
                transform: scale(1);
              }
            }
          }
          .or {
            margin: 15px 20% 15px 0;
          }
          .contact_us_button {
            a {
              button {
              }
              button:hover {
                transform: scale(1);
              }
            }
          }
        }
      }

      .footer_navigation {
        display: flex;
        flex-direction: column;
        .footer_navigation_links {
          flex-wrap: wrap;
          grid-gap: 8px;
          padding: 10px;
          a {
          }
          a:hover {
          }
        }

        .footer_social_links {
          padding-right: 0;
          & > div {
            &:hover {
            }
            a {
              img {
              }
            }
          }
        }
      }
    }
  }
  
}

@media screen and (max-width: 601px) {
  .medium_section{
    .medium_blogs_container{
      grid-template-columns: 1fr !important;
    }
  }

}

//large and up (mobile-first)
@media screen and (min-width: 600px)  {
  .hiring{
    width: 100%;
    margin-top: 0 !important;
  }
}

.no_display {
  display: none;
}

@keyframes cookie-popup-in{
  from {right: -3%;}
  to {right: 2%;}
}



// .btn-grad {background-image: linear-gradient(to right, #ff0084 0%, #33001b  51%, #ff0084  100%)}
// .btn-grad {
  //  margin: 10px;
  //  padding: 15px 45px;
  //  text-align: center;
  //  text-transform: uppercase;
  //  transition: 0.5s;
  //  background-size: 200% auto;
  //  color: white;            
  //  box-shadow: 0 0 20px #eee;
  //  border-radius: 10px;
  //  display: block;
//  }

//  .btn-grad:hover {
  //  background-position: right center; /* change the direction of the change here */
  //  color: #fff;
  //  text-decoration: none;
//  }
