* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #12171d;
}

body .header .mobile_header {
  display: none;
}

body .header .header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 26px 45px;
}

body .header .header_navigation .header_logo {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  cursor: pointer;
}

body .header .header_navigation .header_logo img {
  height: 100%;
}

body .header .header_navigation .header_navigation_container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  text-align: center;
  position: relative;
}

body .header .header_navigation .header_navigation_container > a,
body .header .header_navigation .header_navigation_container ul {
  color: white;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 300;
  position: relative;
  padding: 0;
  margin: 0;
}

body .header .header_navigation .header_navigation_container > a a,
body .header .header_navigation .header_navigation_container ul a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
}

body .header .header_navigation .header_navigation_container > a a:hover,
body .header .header_navigation .header_navigation_container ul a:hover {
  color: #e5007a;
}

body .header .header_navigation .header_navigation_container > a .navigation_governance_child,
body .header .header_navigation .header_navigation_container ul .navigation_governance_child {
  position: absolute;
  padding-top: 15px;
}

body .header .header_navigation .header_navigation_container > a .navigation_governance_child .nav_gov_list_card,
body .header .header_navigation .header_navigation_container ul .navigation_governance_child .nav_gov_list_card {
  background-color: #12171d;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

body .header .header_navigation .header_navigation_container > a .navigation_governance_child .nav_gov_list_card li,
body .header .header_navigation .header_navigation_container ul .navigation_governance_child .nav_gov_list_card li {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: start;
}

body .header .header_navigation .header_navigation_container > a .navigation_governance_child .nav_gov_list_card li a,
body .header .header_navigation .header_navigation_container ul .navigation_governance_child .nav_gov_list_card li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .header .header_navigation .header_navigation_container > a .navigation_governance_child .nav_gov_list_card li:hover a,
body .header .header_navigation .header_navigation_container ul .navigation_governance_child .nav_gov_list_card li:hover a {
  color: #e5007a;
}

body .header .header_navigation .header_navigation_container > a:hover,
body .header .header_navigation .header_navigation_container ul:hover {
  color: #e5007a;
}

body .header .header_navigation .header_navigation_container .navigation_treasury {
  position: relative;
}

body .header .header_navigation .header_navigation_container .navigation_treasury a {
  color: white;
  text-decoration: none;
}

body .header .header_navigation .header_navigation_container .navigation_treasury img {
  position: absolute;
  width: 75px;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
  top: -16px;
  left: 52px;
}

body .header .header_navigation .header_navigation_container .navigation_contact {
  margin: 0 0.35em;
}

body .header .header_navigation .header_navigation_container .navigation_hiring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.3em;
}

body .header .header_navigation .header_navigation_container .navigation_hiring a {
  min-width: 6.8rem;
  text-decoration: none;
  color: #ffffff;
  padding: 6px 10px;
  border: 1px solid #e5007a;
  font-weight: 300;
  border-radius: 4px;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(51%, #141414), to(#fc4c9e));
  background: linear-gradient(to right, transparent 0%, #141414 51%, #fc4c9e 100%);
  text-align: center;
  background-size: 200% auto;
  display: block;
}

body .header .header_navigation .header_navigation_container .navigation_hiring:hover a {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

body .header .header_navigation .header_navigation_container .navigation_sign_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .header .header_navigation .header_navigation_container .navigation_sign_in a {
  width: 90px;
  text-decoration: none;
  color: #ffffff;
  padding: 6px 10px;
  font-weight: 300;
  border-radius: 4px;
  font-size: 17px;
  background: -webkit-gradient(linear, left top, right top, from(#c40061), color-stop(51%, #c40061), to(#ff88c9));
  background: linear-gradient(to right, #c40061 0%, #c40061 51%, #ff88c9 100%);
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}

body .header .header_navigation .header_navigation_container .navigation_sign_in a:hover {
  background-position: center right;
  color: #fff;
  text-decoration: none;
}

body .header .hiring {
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #33001b;
  background: -webkit-gradient(linear, left top, right top, color-stop(-1%, transparent), color-stop(54%, #33001b), color-stop(101%, transparent));
  background: linear-gradient(to right, transparent -1%, #33001b 54%, transparent 101%);
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

body .header .hiring .hiring_form_link {
  padding: 0.4rem;
  text-decoration: none;
  color: #333;
}

body .header .hiring .hiring_form_link button {
  border: none;
  background: #ffffff;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

body .header .hiring .hiring_form_link:hover button {
  background: #e5007a;
  color: #fff;
}

body .header .header_container {
  padding: 40px 45px 80px 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr;
      grid-template-columns: 8fr 2fr;
  grid-gap: 60px;
}

body .header .header_container .header_parent .header_child_1 h1 {
  font-size: 55px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 0px;
}

body .header .header_container .header_parent .header_child_1 h1 .underline {
  border-bottom: 2px solid white;
}

body .header .header_container .header_parent .header_child_2 h2 {
  color: #ffffff;
  font-weight: 200;
  width: 75%;
}

body .header .header_container .header_parent_2 .header_child_1 img {
  width: 420px;
}

body .header .header_container .header_parent_2 .line_break {
  margin: 15px 0;
  height: 3px;
  background-color: #ffffff;
  width: 43%;
}

body .header .header_container .header_parent_2 .header_child_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .header_container .header_parent_2 .header_child_2 > div {
  width: 3rem;
  height: 3rem;
  margin: 1.2vw;
  padding: 0.7rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .header .header_container .header_parent_2 .header_child_2 > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .header .header_container .header_parent_2 .header_child_2 > div a img {
  margin-top: 0.3rem;
  width: 100%;
  height: 100%;
}

body .about_section {
  background-color: #fff;
  padding: 30px 50px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .about_section .about_heading h1 {
  font-size: 45px;
}

body .about_section .about_info {
  text-align: center;
  letter-spacing: 2px;
  margin: 10px;
  padding: 0 40px;
  line-height: 1.5;
}

body .about_section .about_info p {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

body #recognition {
  color: #fff;
  padding: 2em 8vw 4em 8vw;
  text-align: center;
}

body #recognition h1 {
  font-size: 45px;
  margin-bottom: 1.5em;
}

body #recognition .recognition_type {
  margin-bottom: 2.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50%;
      grid-template-columns: 40% 50%;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

body #recognition .recognition_type h2,
body #recognition .recognition_type p {
  text-align: start;
}

body #recognition .recognition_type h2 {
  font-weight: 500;
}

body #recognition .recognition_type p {
  font-size: 1.12rem;
  font-weight: 300;
  float: left;
}

body #recognition .recognition_type a {
  font-weight: 400;
  color: #e5007a;
}

body #recognition .recognition_type img {
  float: right;
  height: 10em;
}

body .live_chains_section {
  background-color: #12171d;
  padding: 40px 0;
  position: relative;
}

body .live_chains_section .live_chains_heading {
  background-color: #ffffff;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px 9px;
  border-radius: 6px;
  margin-left: 1em;
}

body .live_chains_section .live_chains_heading h1 {
  font-size: 31px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
}

body .live_chains_section .live_chains_heading img {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

body .live_chains_section .chain-white {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 202px;
  top: 88px;
  width: 72px;
}

body .live_chains_section .live_chains_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
  margin-left: 259px;
  margin-top: 48px;
  margin-right: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 1.5em;
}

body .live_chains_section .live_chains_info a {
  text-decoration: none;
  color: #12171d;
}

body .live_chains_section .live_chains_info a .polkadot,
body .live_chains_section .live_chains_info a .kusama,
body .live_chains_section .live_chains_info a .moonbeam,
body .live_chains_section .live_chains_info a .kilt,
body .live_chains_section .live_chains_info a .bifrost,
body .live_chains_section .live_chains_info a .moonriver,
body .live_chains_section .live_chains_info a .automata {
  padding: 5px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body .live_chains_section .live_chains_info a .polkadot img,
body .live_chains_section .live_chains_info a .kusama img,
body .live_chains_section .live_chains_info a .moonbeam img,
body .live_chains_section .live_chains_info a .kilt img,
body .live_chains_section .live_chains_info a .bifrost img,
body .live_chains_section .live_chains_info a .moonriver img,
body .live_chains_section .live_chains_info a .automata img {
  height: 130px;
}

@media screen and (min-width: 769px) {
  body .live_chains_section .live_chains_info a .polkadot img,
  body .live_chains_section .live_chains_info a .kusama img,
  body .live_chains_section .live_chains_info a .moonbeam img,
  body .live_chains_section .live_chains_info a .kilt img,
  body .live_chains_section .live_chains_info a .bifrost img,
  body .live_chains_section .live_chains_info a .moonriver img,
  body .live_chains_section .live_chains_info a .automata img {
    height: 7vw;
  }
}

body .live_chains_section .live_chains_info a .polkadot h3,
body .live_chains_section .live_chains_info a .kusama h3,
body .live_chains_section .live_chains_info a .moonbeam h3,
body .live_chains_section .live_chains_info a .kilt h3,
body .live_chains_section .live_chains_info a .bifrost h3,
body .live_chains_section .live_chains_info a .moonriver h3,
body .live_chains_section .live_chains_info a .automata h3 {
  text-align: center;
  margin: 0;
}

body .live_chains_section .live_chains_info a .polkadot:hover,
body .live_chains_section .live_chains_info a .kusama:hover,
body .live_chains_section .live_chains_info a .moonbeam:hover,
body .live_chains_section .live_chains_info a .kilt:hover,
body .live_chains_section .live_chains_info a .bifrost:hover,
body .live_chains_section .live_chains_info a .moonriver:hover,
body .live_chains_section .live_chains_info a .automata:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#roadmap-accordion {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

#roadmap-accordion .custom-accordion {
  background: #12171d;
  color: #ffffff;
  padding-bottom: 2rem;
}

#roadmap-accordion .custom-accordion > .item {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

#roadmap-accordion .custom-accordion > .item:first-of-type {
  background: #e5007a;
  text-align: center;
  margin-bottom: 2rem;
}

#roadmap-accordion .custom-accordion > .item:first-of-type > .icon {
  color: #fff;
}

#roadmap-accordion .custom-accordion > .item > .icon {
  color: #e5007a;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}

#roadmap-accordion .custom-accordion > .item > .title {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.735);
}

#roadmap-accordion .custom-accordion > .item > .title div::after {
  content: ' :';
}

#roadmap-accordion .custom-accordion > .item > .content .milestones_list {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

#roadmap-accordion .custom-accordion > .item > .content .milestones_list li {
  margin: 1rem 0.1rem;
  font-size: 0.9rem;
}

#roadmap-accordion .custom-accordion > .item > .content .milestones_list li:not(:last-of-type) {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.144);
}

.medium_section {
  padding-bottom: 4rem;
  padding-top: 1vh;
  position: relative;
}

.medium_section a {
  text-decoration: none;
}

.medium_section .medium_heading {
  margin-top: 40px;
  text-align: center;
}

.medium_section .medium_heading h1 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 46px;
}

.medium_section .medium_blogs_wrapper {
  position: relative;
}

.medium_section .medium_blogs_container {
  margin: 0 4em;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.medium_section .prev_container,
.medium_section .next_container {
  font-size: 2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.medium_section .prev_container {
  left: 0.5em;
}

.medium_section .next_container {
  right: 0.5em;
}

.medium_section .medium_blogs_container::-webkit-scrollbar {
  display: none;
}

.medium_section .blogThumbnail {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.medium_section .blogCard {
  display: block;
  background-color: #eee;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
  width: 360px;
  margin-right: 2em;
}

.medium_section .blogCard:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.medium_section .blogContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1px 16px;
  height: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.medium_section .blogContentContainer h4 {
  font-weight: 400;
  margin: 0;
}

.contact_section {
  background: url("./images/gradient-background.png");
  background-color: #12171d;
  color: #ffffff;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section h1 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.testimonial_sections .testimonial_heading h1 {
  text-align: center;
  margin: 0;
  margin-top: 40px;
  font-size: 46px;
}

.testimonial_sections .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 6fr;
      grid-template-columns: 6fr 1fr 6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.testimonial_sections .testimonials .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial_sections .testimonials .parent .image_container {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}

.testimonial_sections .testimonials .parent .description {
  height: 450px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.testimonial_sections .testimonials .badge {
  width: 100%;
}

.testimonial_sections .testimonials .badge img {
  width: 100%;
}

.footer .content {
  background: url("./images/gradient-background.png");
  background-color: #12171d;
  color: #ffffff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .content .content_heading h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer .content .subscribe_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .content .subscribe_email .subscribe_email_input {
  position: relative;
}

.footer .content .subscribe_email .subscribe_email_input input {
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding-left: 10px;
  background-color: #f9f9fb;
}

.footer .content .subscribe_email .subscribe_email_input input::-webkit-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input:-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input::-ms-input-placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input input::placeholder {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button button {
  cursor: pointer;
  font-size: 20px;
  padding: 6px 15px;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #12171d;
  color: #ffffff;
  font-weight: 100;
  font-style: italic;
}

.footer .content .subscribe_email .subscribe_email_input .subscribe_button button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer .content .subscribe_email .or {
  margin: 15px 0;
  font-size: 20px;
}

.footer .content .subscribe_email .contact_us_button a button {
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding: 8px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer .content .subscribe_email .contact_us_button a button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer .footer_navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12171d;
  padding: 40px 0;
}

.footer .footer_navigation .footer_navigation_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer_navigation .footer_navigation_links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  color: gainsboro;
  font-weight: 300;
}

.footer .footer_navigation .footer_navigation_links a:hover {
  color: #f9f9fb;
}

.footer .footer_navigation .footer_social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}

.footer .footer_navigation .footer_social_links > div {
  width: 2.7rem;
  height: 2.7rem;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer .footer_navigation .footer_social_links > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer_navigation .footer_social_links > div a {
  height: 100%;
}

.footer .footer_navigation .footer_social_links > div a img {
  width: 100%;
  height: 100%;
}

#cookie-consent-popup .cookie-message {
  border-radius: 10px;
  padding: 15px 0;
  background: #f7f8fb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05), 0 10px 10px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.05), 0 10px 10px 2px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  position: fixed;
  z-index: 100;
  bottom: 2%;
  right: 1%;
  margin: auto;
  max-width: 540px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-animation-name: cookie-popup-in;
          animation-name: cookie-popup-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#cookie-consent-popup .cookie-message img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#cookie-consent-popup .cookie-message span.text {
  display: inline-block;
  line-height: 1.5;
  padding-right: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#cookie-consent-popup .cookie-message span#close-cookie-popup {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  border: none;
  font-size: 24px;
  padding: 0 20px 0 16px;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #919191;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}

.no_display {
  display: none;
}

/* The Modal (background) */
#navigation_sign_in_list_modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* The Close Button */
}

#navigation_sign_in_list_modal .modal-content {
  background-color: #12171D;
  margin: 2.5vh auto;
  padding: 5px 20px;
  border: 1px solid #888;
  width: 95%;
  /* Could be more or less, depending on screen size */
  max-width: 450px;
  border-radius: 6px;
  color: #fff;
  overflow: auto;
  max-height: 95%;
}

#navigation_sign_in_list_modal .modal-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

#navigation_sign_in_list_modal .modal-content p {
  color: #B8B8B8;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

#navigation_sign_in_list_modal .modal-content ul {
  list-style-type: none;
  padding-left: 0;
}

#navigation_sign_in_list_modal .modal-content ul li {
  background-color: #fff;
  margin: 0.7rem 1rem;
  border-radius: 5px;
}

#navigation_sign_in_list_modal .modal-content ul li:hover {
  background-color: #e5007a;
}

#navigation_sign_in_list_modal .modal-content ul li:hover a {
  padding: 1rem;
  color: #fff;
  font-size: 1.3rem;
}

#navigation_sign_in_list_modal .modal-content ul li:hover a img {
  height: 48px;
  width: 48px;
}

#navigation_sign_in_list_modal .modal-content ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: padding;
  transition-property: padding;
  padding: 0.6rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation_sign_in_list_modal .modal-content ul li a img {
  margin-right: 0.8rem;
  background-color: #fff;
  padding: 0.5em;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

#navigation_sign_in_list_modal .close {
  color: #aaa;
  float: right;
  font-size: 24px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

#navigation_sign_in_list_modal .close:hover,
#navigation_sign_in_list_modal .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #recognition {
    padding: 2em 0 4em 0 !important;
  }
  #recognition .recognition_type {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none !important;
        grid-template-columns: none !important;
    justify-items: center !important;
    gap: 0 !important;
    margin-left: 2.2em;
    margin-right: 2.2em;
  }
  #recognition .recognition_type p {
    text-align: justify !important;
  }
  #recognition .recognition_type h2 {
    margin-top: 1em;
    margin-bottom: -0.05em;
    text-align: center !important;
  }
  #recognition .recognition_type img {
    float: none !important;
    width: 261.53px !important;
    height: 92.3px !important;
  }
  #recognition .recognition_type:last-child {
    border-top: 1px rgba(255, 255, 255, 0.267) solid;
    padding-top: 4em;
    margin-top: 3em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  body .header .mobile_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  body .header .mobile_header .mobile_header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44%;
    padding-left: 20px;
  }
  body .header .mobile_header .mobile_header_logo img {
    width: 100%;
    max-width: 158px;
  }
  body .header .mobile_header .menu_icon {
    padding-right: 20px;
    color: #ffffff;
    font-size: 30px;
  }
  body .header .mobile_header .menu_icon_2 {
    display: none;
    padding-right: 20px;
    color: #ffffff;
    font-size: 30px;
  }
  body .header .mobile_header .mobile_header_navigation_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 {
    background-color: #12171d;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_header_logo {
    width: 85%;
    padding: 30px 0 40px 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_header_logo img {
    width: 100%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_governance {
    color: #ff0084;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_governance_accordian_up,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_governance_accordian_down {
    padding-left: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul {
    margin: 0;
    list-style: none;
    padding: 10px 0 10px 18%;
    text-decoration: none;
    color: #ffffff;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li {
    padding-top: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li a,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li a {
    padding-left: 10px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a li:last-child,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul li:last-child {
    padding-bottom: 0;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links a:hover,
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links ul > li:hover {
    color: #ff0084;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in {
    padding: 10px 0;
    padding-left: 18%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a {
    padding-left: 0;
    margin-right: 45px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a button {
    background-color: #e5007a;
    color: white;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 75px;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in a button:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_accordian_down {
    color: #ffffff;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list {
    padding-left: 0;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list .navigation_sign_in {
    padding: 0;
    padding-left: 18%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list .navigation_sign_in .navigation_sign_in_text {
    padding-right: 45px;
    color: #e5007a;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list .navigation_sign_in .navigation_sign_in_accordian_up {
    color: #e5007a;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list li {
    padding-left: 18%;
  }
  body .header .mobile_header .mobile_header_navigation_container .mobile_parent_1 .mobile_navigation_links .navigation_sign_in_list li a:hover {
    color: #e5007a;
  }
  body .header .header_navigation {
    display: none;
  }
  body .header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
    padding: 0px 45px 40px 45px;
  }
  body .header .header_container .header_parent .header_child_1 h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }
  body .header .header_container .header_parent .line_break {
    width: 100%;
  }
  body .header .header_container .header_parent .header_child_2 h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  body .header .header_container .header_parent_2 .header_child_1 {
    display: none;
  }
  body .hiring {
    margin-top: 0.5rem;
  }
  body .hiring button {
    margin-top: 0.5em;
  }
  body .about_section {
    padding: 20px;
  }
  body .about_section .about_heading h1 {
    font-size: 30px;
    margin: 0;
  }
  body .about_section .about_info {
    text-align: center;
    padding: 0;
  }
  body .about_section .about_info p {
    font-size: 20px;
    margin: 0;
  }
  body .live_chains_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .live_chains_section .chain-white {
    display: none;
  }
  body .live_chains_section .live_chains_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: transparent;
  }
  body .live_chains_section .live_chains_info a {
    text-decoration: none;
    color: #12171d;
  }
  body .live_chains_section .live_chains_info a .polkadot,
  body .live_chains_section .live_chains_info a .kusama,
  body .live_chains_section .live_chains_info a .moonbeam,
  body .live_chains_section .live_chains_info a .kilt,
  body .live_chains_section .live_chains_info a .bifrost,
  body .live_chains_section .live_chains_info a .moonriver,
  body .live_chains_section .live_chains_info a .automata {
    background-color: #ffffff;
    margin: 15px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .live_chains_section .live_chains_info a .polkadot:hover,
  body .live_chains_section .live_chains_info a .kusama:hover,
  body .live_chains_section .live_chains_info a .moonbeam:hover,
  body .live_chains_section .live_chains_info a .kilt:hover,
  body .live_chains_section .live_chains_info a .bifrost:hover,
  body .live_chains_section .live_chains_info a .moonriver:hover,
  body .live_chains_section .live_chains_info a .automata:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .medium_section {
    padding: 2vw 4vw;
  }
  body .medium_section .medium_heading {
    margin-top: 0;
  }
  body .medium_section .medium_heading h1 {
    font-size: 30px;
    margin: 0;
  }
  body .medium_section .medium_blogs_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  body .medium_section .blogCard {
    width: 92vw;
  }
  body .footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  body .footer .content .content_heading h2 {
    text-align: center;
    font-size: 18px;
  }
  body .footer .content .subscribe_email {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .footer .content .subscribe_email .subscribe_email_input input {
    height: 40px;
    width: 250px;
    font-size: 12px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::-webkit-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input:-ms-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::-ms-input-placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input input::placeholder {
    font-size: 11px;
  }
  body .footer .content .subscribe_email .subscribe_email_input .subscribe_button button {
    font-size: 14px;
    padding: 6px;
  }
  body .footer .content .subscribe_email .subscribe_email_input .subscribe_button button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .footer .content .subscribe_email .or {
    margin: 15px 20% 15px 0;
  }
  body .footer .content .subscribe_email .contact_us_button a button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  body .footer .footer_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer_navigation .footer_navigation_links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 8px;
    padding: 10px;
  }
  body .footer .footer_navigation .footer_social_links {
    padding-right: 0;
  }
}

@media screen and (max-width: 601px) {
  .medium_section .medium_blogs_container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

@media screen and (min-width: 600px) {
  .hiring {
    width: 100%;
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 800px) and (min-height: 270px) {
  #roadmap-accordion .custom-accordion {
    display: table;
    width: 100%;
    margin: 0 auto;
    height: 55vh;
    max-height: 1000px;
    overflow: hidden;
    padding-bottom: 0;
  }
  #roadmap-accordion .custom-accordion > .item {
    display: table-cell;
    position: relative;
    height: 100%;
    padding: 1rem 0;
    text-align: center;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  }
  #roadmap-accordion .custom-accordion > .item:hover:not(:first-of-type), #roadmap-accordion .custom-accordion > .item.roadmap_active {
    -webkit-transform: scaleX(1.5) translateX(-50px);
            transform: scaleX(1.5) translateX(-50px);
    background: #c40061;
  }
  #roadmap-accordion .custom-accordion > .item:hover + .item:first-of-type {
    opacity: 0.1;
    background: #c40061;
  }
  #roadmap-accordion .custom-accordion > .item:not(:first-of-type) {
    border-right: 1px solid #c40061;
  }
  #roadmap-accordion .custom-accordion > .item:first-of-type {
    background: #12171d;
    width: 25%;
    border-radius: 0;
  }
  #roadmap-accordion .custom-accordion > .item:first-of-type > .content {
    opacity: 1;
    -webkit-transform: translateX(-57%) translateY(-50%);
            transform: translateX(-57%) translateY(-50%);
    font-size: 1.6rem;
  }
  #roadmap-accordion .custom-accordion > .item:hover:not(:first-of-type) > .icon,
  #roadmap-accordion .custom-accordion > .item.roadmap_active > .icon {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
    color: #fff;
  }
  #roadmap-accordion .custom-accordion > .item:hover:not(:first-of-type) > .title,
  #roadmap-accordion .custom-accordion > .item.roadmap_active > .title {
    -webkit-transform: scaleX(0.7) translateX(-50%);
            transform: scaleX(0.7) translateX(-50%);
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    text-align: center;
    padding: 0;
    font-weight: 200;
  }
  #roadmap-accordion .custom-accordion > .item:hover:not(:first-of-type) > .title > .text,
  #roadmap-accordion .custom-accordion > .item.roadmap_active > .title > .text {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    left: 50%;
  }
  #roadmap-accordion .custom-accordion > .item:hover:not(:first-of-type) > .content,
  #roadmap-accordion .custom-accordion > .item.roadmap_active > .content {
    opacity: 1;
  }
  #roadmap-accordion .custom-accordion > .item > .icon {
    font-weight: 700;
    font-size: 2rem;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    color: #fff;
    -webkit-transform: translateY(19.5vh);
            transform: translateY(19.5vh);
  }
  #roadmap-accordion .custom-accordion > .item > .title {
    display: none;
  }
  #roadmap-accordion .custom-accordion > .item > .content {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 200%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.7);
            transform: translateX(-50%) translateY(-50%) scaleX(0.7);
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    opacity: 0;
    padding: 1rem;
    pointer-events: none;
  }
  #roadmap-accordion .custom-accordion > .item > .content .milestones_list li {
    margin: 1rem 6em;
    font-size: 1.1rem;
  }
  #roadmap-accordion .custom-accordion > .item > .content .milestones_list li:not(:last-of-type) {
    padding-bottom: 0.7rem;
    border-bottom: none;
  }
}

@-webkit-keyframes cookie-popup-in {
  from {
    right: -3%;
  }
  to {
    right: 2%;
  }
}

@keyframes cookie-popup-in {
  from {
    right: -3%;
  }
  to {
    right: 2%;
  }
}

.disabled {
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */